lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# node.js resources
node_modules
npm-debug.log

# IntelliJ/JetBrain resources
*.iml
*.ipr
*.iws
*.idea

#mac
.DS_Store

#buildbug
.buildbug
buildbug.json

# package descriptions
temp
tmp

# config files
config
